.card {
  background: #020617;
  border-radius: 14px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #1e293b;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #38bdf8;
}
